<div class="row mx-auto"  >
<div class="col-lg-6 mx-auto"  style="background: #163850;" >
    <img src="/images/castlepics/castle059.png" class="rounded mx-auto d-block img-fluid"  
      >
  </div>

<div class="card col-lg-5  mx-auto " style="background: #163850;" >
  <h2 class="card-header text-center" style="background: #163850; color: #ffffff">
    059: Himeji Castle - 姫路城
  </h2>

  <ul class="list-group list-group-horizontal text-center" style="font-size= 5rem; color: #000000" >
 
  <li class=" card w-50 ms-0 me-1 ">Region: Kansai  </li>
  <li class=" card w-50 ms-1 me-0 ">Prefecture: Hyogo</li>
  
</ul>

<ul class="list-group list-group-horizontal text-center" style="font-size= 5rem; color: #000000" >
 
  <li class=" card w-50 ms-0 me-1 "> City: Himeji</li>
  <li class=" card w-50 ms-1 me-0 ">Type: Hilltop</li>
  
</ul>

<ul class="list-group list-group-horizontal text-center" style="font-size= 5rem; color: #000000" >
 
  <li class=" card w-100 ms-0 me-0 "> Condition: Original Main Keep</li>
  
</ul>

<ul class="list-group list-group-horizontal text-center" style="font-size= 5rem; color: #000000" >
 
  <li class=" card w-100 ms-0 me-0 "> Access: Himeji Station via Sanyo Honsen/Shinkansen, walk 15 minutes.</li>
  
</ul>

<ul class="list-group list-group-horizontal text-center" style="font-size= 5rem; color: #000000" >
 
  <li class=" card w-100 ms-0 me-0 "> Website: https://www.city.himeji.lg.jp/castle/</li>
  
</ul>

</div>

<div class="row mx-auto col-12 mt-2"  >

  <div class="card mb-3 mt-3 mx-auto" style="background: #163850; color: #ffffff">
  <div class="row  mx-auto" style="align-items: center; justify-content:center">
    <div class="col-md-4  mt-3 mb-3  mx-auto" style="background: #ffffff; max-width: 210px">
      <img src="/images/stamps/stamp059.png"  class="rounded mx-auto d-block img-fluid"  
      >
    </div>
    <div class="col-md-9 mx-auto">
      <div class="card-body mx-auto">
        <h5 class="card-title">Himeji Castle's early history dates to the 14th century when Akamatsu Norimura built a fortification on this site. Himeyama Castle was then built by his son in 1346. The castle starts to come into prominence during the Sengoku Period when it was renovated by the Kuroda Shigetaka in 1545. In 1580, Nobunaga took control of Harima proving and placed it under the control of Toyotomi Hideyoshi who remodeled the castle and built a small keep. You can still see some of the remnants of Hideyoshi's castle in Himeji castle as Ikeda incoporated some of the stone walls and gates into his castle. Ikeda Terumasa, an ally of Tokugawa Ieyasu at the Battle of Sekigahara, was awarded this province (Harima) for his alliance during the war. Ikeda Terumasa built the main keep of Himeji-jo and erected the castle as it is known today. Himeji-jo's nickname Shirasagi-jo means \"White Heron Castle\" because the main keep with its three smaller towers resembles a white heron. Himeji-jo was granted \"World Heritage\" status by UNESCO in 1993.</h5>
        
      </div>
    </div>
  </div>
</div>