

<div class="row">

  <div id="sideaccord" class="col-lg-5 mb-4">

    <h3 class="mt-3 mb-3 text-center">Select a region.<br />
      Then select a castle.</h3>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button d-block text-center collapsed"
            style="background-color: #9accd4; color: #000000; font-size: 2rem" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Hokkaido
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>001 Nemuro Peninsula Chashi Site 根室半島チャシ跡群</li>
              <li>002 Goryokaku Fort 五稜郭</li>
              <li>003 Matsumae Castle 松前城</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button d-block text-center collapsed"
            style="background-color: #909bd3; color: #000000; font-size: 2rem" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Tohoku
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>004 Hirosaki Castle 弘前城</li>
              <li>005 Ne Castle 根城</li>
              <li>006 Morioka Castle 盛岡城</li>
              <li>007 Taga Castle 多賀城</li>
              <li>008 Sendai Castle 仙台城</li>
              <li>009 Kubota Castle 久保田城</li>
              <li>010 Yamagata Castle 山形城</li>
              <li>011 Nihonmatsu Castle 二本松城</li>
              <li>012 Aizuwakamatsu Castle 会津若松城</li>
              <li>013 Shirakawa Castle 白河城</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button d-block text-center collapsed"
            style="background-color: #c6bae2; color: #000000; font-size: 2rem" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Kanto
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>014 Mito Castle 水戸城</li>
              <li>015 Ashikagashi Yakata 足利氏館</li>
              <li>016 Minowa Castle 箕輪城</li>
              <li>017 Kanayama Castle 金山城</li>
              <li>018 Hachigata Castle 鉢形城</li>
              <li>019 Kawagoe Castle 川越城</li>
              <li>020 Sakura Castle 佐倉城</li>
              <li>021 Edo Castle 江戸城</li>
              <li>022 Hachioji Castle 八王子城</li>
              <li>023 Odawara Castle 小田原城</li>
              <li>024 Tsutsujigasaki Palace 躑躅ヶ崎館</li>
              <li>025 Kofu Castle 甲府城</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button d-block text-center collapsed"
            style="background-color: #d1a8ae; color: #000000; font-size: 2rem" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Chubu
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>026 Matsushiro Castle 松代城</li>
              <li>027 Ueda Castle 上田城</li>
              <li>028 Komoro Castle 小諸城</li>
              <li>029 Matsumoto Castle 松本城</li>
              <li>030 Takato Castle 高遠城</li>
              <li>031 Shibata Castle 新発田城</li>
              <li>032 Kasugayama Castle 春日山城</li>
              <li>033 Takaoka Castle 高岡城</li>
              <li>034 Nanao Castle 七尾城</li>
              <li>035 Kanazawa Castle 金沢城</li>
              <li>036 Maruoka Castle 丸岡城</li>
              <li>037 Ichijodani Castle 一乗谷城</li>
              <li>038 Iwamura Castle 岩村城</li>
              <li>039 Gifu Castle 岐阜城</li>
              <li>040 Yamanaka Castle 山中城</li>
              <li>041 Sunpu Castle 駿府城</li>
              <li>042 Kakegawa Castle 掛川城</li>
              <li>043 Inuyama Castle 犬山城</li>
              <li>044 Nagoya Castle 名古屋城</li>
              <li>045 Okazaki Castle 岡崎城</li>
              <li>046 Nagashino Castle 長篠城</li>
              <li>047 Iga Ueno Castle 伊賀上野城</li>
              <li>048 Matsusaka Castle 松阪城</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button d-block text-center collapsed"
            style="background-color: #e0c5ab; color: #000000; font-size: 2rem" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Kansai
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>049 Odani Castle 小谷城</li>
              <li>050 Hikone Castle 彦根城</li>
              <li>051 Azuchi Castle 安土城</li>
              <li>052 Kannonji Castle 観音寺城</li>
              <li>053 Nijo Castle 二条城</li>
              <li>054 Osaka Castle 大坂城</li>
              <li>055 Chihaya Castle 千早城</li>
              <li>056 Takeda Castle 竹田城</li>
              <li>057 Sasayama Castle 篠山城</li>
              <li>058 Akashi Castle 明石城</li>
              <li>059 Himeji Castle 姫路城</li>
              <li>060 Ako Castle 赤穂城</li>
              <li>061 Takatori Castle 高取城</li>
              <li>062 Wakayama Castle 和歌山城</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button d-block text-center collapsed"
            style="background-color: #dbd8ae; color: #000000; font-size: 2rem" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Chugoku
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>063 Tottori Castle 鳥取城</li>
              <li>064 Matsue Castle 松江城</li>
              <li>065 Gassan Toda Castle 月山富田城</li>
              <li>066 Tsuwano Castle 津和野城</li>
              <li>067 Tsuyama Castle 津山城</li>
              <li>068 Bitchu Matsuyama Castle 備中松山城</li>
              <li>069 Kinojo Castle 鬼ノ城</li>
              <li>070 Okayama Castle 岡山城</li>
              <li>071 Fukuyama Castle 福山城</li>
              <li>072 Koriyama Castle 郡山城</li>
              <li>073 Hiroshima Castle 広島城</li>
              <li>074 Iwakuni Castle 岩国城</li>
              <li>075 Hagi Castle 萩城</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button d-block text-center collapsed"
            style="background-color: #a6dbbc; color: #000000; font-size: 2rem" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            Shikoku
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>076 Tokushima Castle 徳島城</li>
              <li>077 Takamatsu Castle 高松城</li>
              <li>078 Marugame Castle 丸亀城</li>
              <li>079 Imabari Castle 今治城</li>
              <li>080 Yuzuki Castle 湯築城</li>
              <li>081 Matsuyama Castle 松山城</li>
              <li>082 Ozu Castle 大洲城</li>
              <li>083 Uwajima Castle 宇和島城</li>
              <li>084 Kochi Castle 高知城</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
          <button class="accordion-button d-block text-center collapsed"
            style="background-color: #bdd3b7; color: #000000; font-size: 2rem" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            Kyushu
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>085 Fukuoka Castle 福岡城</li>
              <li>086 Ono Castle 大野城</li>
              <li>087 Hizen Nagoya Castle 肥前名護屋城</li>
              <li>088 Yoshinogari Site 吉野ヶ里</li>
              <li>089 Saga Castle 佐賀城</li>
              <li>090 Hirado Castle 平戸城</li>
              <li>091 Shimabara Castle 島原城</li>
              <li>092 Kumamoto Castle 熊本城</li>
              <li>093 Hitoyoshi Castle 人吉城</li>
              <li>094 Funai Castle 府内城</li>
              <li>095 Oka Castle 岡城</li>
              <li>096 Obi Castle 飫肥城</li>
              <li>097 Kagoshima Castle 鹿児島城</li>
              <li>098 Nakijin Castle 今帰仁城</li>
              <li>099 Nakagusuku Castle 中城城</li>
              <li>100 Shuri Castle 首里城</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-7 mb-4">
    <img src="/images/japanmap1.png" id="colorfulmappic" class="rounded mx-auto d-block" alt="Map of Japan's Castles" />
  </div>
</div>





{{!-- This is what was written during the copy pasting. This should eventually be deleted. --}}
{{!-- {{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}