<div class="row ms-1 me-1 mt-4">



  <div class="card p-0  nav nav-tabs nav-fill " style="margin:0; display: contents; height: 100%;    background: #576672; color: #ffffff">

    <nav class="  col-md-12  p-0 ">
      <div class="nav nav-tabs nav-fill p-0 border-0 bg-transparent col-md-12 m-0"
        style=" background: #576672; color: #ffffff " id="nav-tab" role="tablist">
        <button class="nav-link active " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="false"
          style="border-top-left-radius: 30px; border-top-right-radius: 30px; background: #163850; color: #ffffff;  padding:0; font-size:1.2rem; max-width:4%;"><span class="long-text"><i
            class="bi-pin-map " style="font-size: 2rem; "></i></span><span class="short-text">.</span></button>
        <button class="nav-link " id="tab-hokkaido" data-bs-toggle="tab" data-bs-target="#hokkaido-content"
          type="button"
          style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #2c3e44; color: #ffffff; font-size:1.2rem; max-width:12%;"
          role="tab" aria-controls="nav-profile" aria-selected="false"><span class="long-text">Hokkaido</span><span class="short-text">HK</span></button>
        <button class="nav-link " id="tab-tohoku" data-bs-toggle="tab" data-bs-target="#tohoku-content" type="button"
          style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #1d283b; color: #ffffff; font-size:1.2rem; max-width:12%;"
          role="tab" aria-controls="nav-profile" aria-selected="false"><span class="long-text">Tohoku</span><span class="short-text">TH</span></button>
        <button class="nav-link " id="tab-kanto" data-bs-toggle="tab" data-bs-target="#kanto-content" type="button"
          style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #382844; color: #ffffff; font-size:1.2rem; max-width:12%;"
          role="tab" aria-controls="nav-profile" aria-selected="false"><span class="long-text">Kanto</span><span class="short-text">KT</span></button>
        <button class="nav-link " id="tab-chubu" data-bs-toggle="tab" data-bs-target="#chubu-content" type="button"
          style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #3f121c; color: #ffffff; font-size:1.2rem; max-width:12%;"
          role="tab" aria-controls="nav-profile" aria-selected="false"><span class="long-text">Chubu</span><span class="short-text">CB</span></button>
        <button class="nav-link " id="tab-kansai" data-bs-toggle="tab" data-bs-target="#kansai-content" type="button"
          style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #5e4c32; color: #ffffff; font-size:1.2em; max-width:12%;"
          role="tab" aria-controls="nav-profile" aria-selected="false"><span class="long-text">Kansai</span><span class="short-text">KS</span></button>
        <button class="nav-link " id="tab-chugoku" data-bs-toggle="tab" data-bs-target="#chugoku-content" type="button"
          style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #302f1a; color: #ffffff; font-size:1.2rem; max-width:12%;"
          role="tab" aria-controls="nav-profile" aria-selected="false"><span class="long-text">Chugoku</span><span class="short-text">CG</span></button>
        <button class="nav-link " id="tab-shikoku" data-bs-toggle="tab" data-bs-target="#shikoku-content" type="button"
          style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #0c2513; color: #ffffff; font-size:1.2rem; max-width:12%;"
          role="tab" aria-controls="nav-profile" aria-selected="false"><span class="long-text">Shikoku</span><span class="short-text">SK</span></button>
        <button class="nav-link " id="tab-kyushu" data-bs-toggle="tab" data-bs-target="#kyushu-content" type="button"
          style=" border-top-left-radius: 30px; border-top-right-radius: 30px; background: #3d4639; color: #ffffff; font-size:1.2rem; max-width:12%;"
          role="tab" aria-controls="nav-profile" aria-selected="false"><span class="long-text">Kyushu</span><span class="short-text">KY</span></button>

      </div>
    </nav>
    <div class="tab-content  " id="nav-tabContent">
      <div class="tab-pane fade active show  " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <div id="map-border" class="card  border border-white p-3   mx-auto"
          style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #163850; color: #ffffff">
          <div class="row    mx-auto "
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; width:100%; background: #163850; color: #ffffff">
            <div class="col-md-5 ">
              <h1 class="text-center mt-4 mb-2">日本 Castle Map</h1>
              <h3 class="text-center"><br>Each colored area represents a region, and each number marks a castle.</h3>
              <h3 class="text-center"><br>Use the tabs above to select a region, then choose a castle to learn more.</h3>
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <img src="/images/maps/japanmap0.png"
                style="width: 100%; height: 100%; max-width: 2000px; max-height: 2000px;" class="rounded  d-block"
                alt="Map of Japan's Castles" />
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="tab-content  " id="nav-tabContent">
      <div class="tab-pane fade  " id="hokkaido-content" role="tabpanel" aria-labelledby="hokkaido-map">

        <div id="hokkaido-border" class="card  border border-white p-3  mx-auto"
          style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #2c3e44; color: #ffffff">
          <div class="row    mx-auto "
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; width:100%; background: #2c3e44; color: #ffffff">
            <div class="col-md-4 col-md-offset-1">
              <h1 class="text-center mt-3 mb-2 ">Hokkaido</h1>
              
            <a href="/castle/1">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.5rem">001 - Nemuro Chashi Site</li>
            </a>
            <a href="/castle/2">
              <li class="btn btn-outline-light mt-3 text-start col-md-12" style="font-size: 1.5rem">002 - Goryokaku Fort</li>
            </a>
            <a href="/castle/3">
             <li class="btn btn-outline-light mt-3 text-start col-md-12" style="font-size: 1.5rem">003 - Matsumae Castle</li>
            </a>
        
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <img id="mappics" src="/images/maps/japanmap2.png"
                style="width: 100%; height: 100%; max-width: 2000px; max-height: 2000px;" class="rounded  d-block"
                alt="Map of Japan's Castles" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content  " id="nav-tabContent">
      <div class="tab-pane fade  " id="tohoku-content" role="tabpanel" aria-labelledby="tohoku-map">

        <div id="tohoku-border" class="card  border border-white p-3   mx-auto"
          style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #1d283b; color: #ffffff">
          <div class="row    mx-auto "
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; width:100%; background: #1d283b; color: #ffffff">
            <div class="row col-md-3 col-md-offset-1">
              <h1 class="text-center mt-3 mb-2 ">Tohoku</h1>
             
            <a href="/castle/4">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">004 - Hirosaki Castle</li>
            </a>
            <a href="/castle/5">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">005 - Ne Castle</li>
            </a>
            <a href="/castle/6">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">006 - Morioka Castle</li>
            </a>
            <a href="/castle/7">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">007 - Taga Castle</li>
            </a>
            <a href="/castle/8">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">008 - Sendai Castle</li>
            </a>
            
            <a href="/castle/9">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">009 - Kubota Castle</li>
            </a>
            <a href="/castle/10">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">010 - Yamagata Castle</li>
            </a>
            <a href="/castle/11">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">011 - Nihonmatsu Castle</li>
            </a>
            <a href="/castle/12">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">012 - Aizuwakamatsu Castle</li>
            </a>
            <a href="/castle/13">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">013 - Shirakawa Castle</li>
            </a>
          
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <img src="/images/maps/japanmap3.png"
                style="width: 100%; height: 100%; max-width: 2000px; max-height: 2000px;" class="rounded  d-block"
                alt="Map of Japan's Castles" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content  " id="nav-tabContent">
      <div class="tab-pane fade  " id="kanto-content" role="tabpanel" aria-labelledby="kanto-map">

        <div id="kanto-border" class="card  border border-white p-3   mx-auto"
          style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #382844; color: #ffffff">
          <div class="row    mx-auto "
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; width:100%; background: #382844; color: #ffffff">
            <div class="row col-md-5 col-md-offset-1">
              <h1 class="text-center mt-3 mb-2 ">Kanto</h1>
              <div class="col-md-6">
            <a href="/castle/14">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">014 - Mito Castle</li>
            </a>
            <a href="/castle/15">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">015 - Ashikagashi Yakata</li>
            </a>
            <a href="/castle/16">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">016 - Minowa Castle</li>
            </a>
            <a href="/castle/17">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">017 - Kanayama Castle</li>
            </a>
            <a href="/castle/18">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">018 - Hachigata Castle</li>
            </a>
            <a href="/castle/19">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">019 - Kawagoe Castle</li>
            </a>
           </div> <div class="col-md-6">
            <a href="/castle/20">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">020 - Sakura Castle</li>
            </a>
            <a href="/castle/21">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">021 - Edo Castle</li>
            </a>
            <a href="/castle/22">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">022 - Hachioji Castle</li>
            </a>
            <a href="/castle/23">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">023 - Odawara Castle</li>
            </a>
            <a href="/castle/24">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">024 - Tsutsujigasaki </li>
            </a>
            <a href="/castle/25">
               <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.1rem">025 - Kofu Castle</li>
            </a>
         </div>
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <img src="/images/maps/japanmap4.png"
                style="width: 100%; height: 100%; max-width: 2000px; max-height: 2000px;" class="rounded  d-block"
                alt="Map of Japan's Castles" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content  " id="nav-tabContent">
      <div class="tab-pane fade  " id="chubu-content" role="tabpanel" aria-labelledby="chubu-map">

        <div id="chubu-border" class="card  border border-white p-3   mx-auto"
          style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #3f121c; color: #ffffff">
          <div class="row    mx-auto "
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; width:100%; background: #3f121c; color: #ffffff">
            <div class="row col-md-5 col-md-offset-1">
              <h1 class="text-center mt-3 mb-2 ">Chubu</h1>
               <div class="col-md-6">
              
            <a href="/castle/26">
              <li class="btn btn-outline-light text-start mb-2  col-md-12" style="font-size: .9rem">026 - Matsushiro Castle</li>
            </a>
            <a href="/castle/27">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">027 - Ueda Castle</li>
            </a>
            <a href="/castle/28">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">028 - Komoro Castle</li>
            </a>
            <a href="/castle/29">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">029 - Matsumoto Castle</li>
            </a>
            <a href="/castle/30">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">030 - Takato Castle</li>
            </a>
            <a href="/castle/31">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">031 - Shibata Castle</li>
            </a>
            <a href="/castle/32">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">032 - Kasugayama Castle</li>
            </a>
            <a href="/castle/33">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">033 - Takaoka Castle</li>
            </a>
            <a href="/castle/34">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">034 - Nanao Castle</li>
            </a>
            <a href="/castle/35">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">035 - Kanazawa Castle</li>
            </a>
            <a href="/castle/36">
            <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">036 - Maruoka Castle</li>
            </a>
            <a href="/castle/37">
             <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">037 - Ichijodani Castle</li>
            </a>

             </div><div class="col-md-6">
            <a href="/castle/38">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">038 - Iwamura Castle</li>
            </a>
            <a href="/castle/39">
             <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">039 - Gifu Castle</li>
            </a>
            <a href="/castle/40">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">040 - Yamanaka Castle</li>
            </a>
            <a href="/castle/41">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">041 - Sunpu Castle</li>
            </a>
            <a href="/castle/42">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">042 - Kakegawa Castle</li>
            </a>
            <a href="/castle/43">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">043 - Inuyama Castle</li>
            </a>
            <a href="/castle/44">
            <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">044 - Nagoya Castle</li>
            </a>
            <a href="/castle/45">
             <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">045 - Okazaki Castle</li>
            </a>
            <a href="/castle/46">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">046 - Nagashino Castle</li>
            </a>
            <a href="/castle/47">
              <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">047 - Iga Ueno Castle</li>
            </a>
            <a href="/castle/48">
             <li class="btn btn-outline-light text-start mb-2 col-md-12" style="font-size: .9rem">048 - Matsusaka Castle</li>
            </a>
          
          </div>
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <img src="/images/maps/japanmap5.png"
                style="width: 100%; height: 100%; max-width: 2000px; max-height: 2000px;" class="rounded  d-block"
                alt="Map of Japan's Castles" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content  " id="nav-tabContent">
      <div class="tab-pane fade  " id="kansai-content" role="tabpanel" aria-labelledby="kansai-map">

        <div id="kansai-border" class="card  border border-white p-3   mx-auto"
          style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #5e4c32; color: #ffffff">
          <div class="row    mx-auto "
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; width:100%; background: #5e4c32; color: #ffffff">
            <div class="row col-md-5 col-md-offset-1">
              <h1 class="text-center mt-3 mb-2 ">Kansai</h1>
             <div class="col-md-6">
            <a href="/castle/49">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">049 - Odani Castle</li>
            </a>
            <a href="/castle/50">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">050 - Hikone Castle</li>
            </a>
            <a href="/castle/51">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">051 - Azuchi Castle</li>
            </a>
            <a href="/castle/52">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">052 - Kannonji Castle</li>
            </a>
            <a href="/castle/53">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">053 - Nijo Castle</li>
            </a>
            <a href="/castle/54">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">054 - Osaka Castle</li>
            </a>
            <a href="/castle/55">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">055 - Chihaya Castle</li>
            </a>
            </div><div class="col-md-6">
            <a href="/castle/56">
            <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">056 - Takeda Castle</li>
            </a>
            <a href="/castle/57">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">057 - Sasayama Castle</li>
            </a>
            <a href="/castle/58">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">058 - Akashi Castle</li>
            </a>
            <a href="/castle/59">
            <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">059 - Himeji Castle</li>
            </a>
            <a href="/castle/60">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">060 - Ako Castle</li>
            </a>
            <a href="/castle/61">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">061 - Takatori Castle</li>
            </a>
            <a href="/castle/62">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">062 - Wakayama Castle</li>
            </a>
          </div>
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <img src="/images/maps/japanmap6.png"
                style="width: 100%; height: 100%; max-width: 2000px; max-height: 2000px;" class="rounded  d-block"
                alt="Map of Japan's Castles" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content  " id="nav-tabContent">
      <div class="tab-pane fade  " id="chugoku-content" role="tabpanel" aria-labelledby="chugoku-map">

        <div id="chugoku-border" class="card  border border-white p-3   mx-auto"
          style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #302f1a; color: #ffffff">
          <div class="row    mx-auto "
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; width:100%; background: #302f1a; color: #ffffff">
            <div class="row col-md-5 col-md-offset-1">
              <h1 class="text-center mt-3 mb-2 ">Chugoku</h1>
               <div class="col-md-6">
            <a href="/castle/63">
            <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">063 - Tottori Castle</li>
            </a>
            <a href="/castle/64">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">064 - Matsue Castle</li>
            </a>
            <a href="/castle/65">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">065 - Gassan Toda Castle</li>
            </a>
            <a href="/castle/66">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">066 - Tsuwano Castle</li>
            </a>
            <a href="/castle/67">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">067 - Tsuyama Castle</li>
            </a>
            <a href="/castle/68">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">068 - Bitchu Matsuyama Castle</li>
            </a>

            </div><div class="col-md-6">
            <a href="/castle/69">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">069 - Kinojo Castle</li>
            </a>
            <a href="/castle/70">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">070 - Okayama Castle</li>
            </a>
            <a href="/castle/71">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">071 - Fukuyama Castle</li>
            </a>
            <a href="/castle/72">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">072 - Koriyama Castle</li>
            </a>
            <a href="/castle/73">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">073 - Hiroshima Castle</li>
            </a>
            <a href="/castle/74">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">074 - Iwakuni Castle</li>
            </a>
            <a href="/castle/75">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">075 - Hagi Castle</li>
            </a>
          </div>
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <img src="/images/maps/japanmap7.png"
                style="width: 100%; height: 100%; max-width: 2000px; max-height: 2000px;" class="rounded  d-block"
                alt="Map of Japan's Castles" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content  " id="nav-tabContent">
      <div class="tab-pane fade  " id="shikoku-content" role="tabpanel" aria-labelledby="shikoku-map">

        <div id="shikoku-border" class="card  border border-white p-3   mx-auto"
          style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #0c2513; color: #ffffff">
          <div class="row    mx-auto "
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; width:100%; background: #0c2513; color: #ffffff">
            <div class="col-md-3 col-md-offset-1">
              <h1 class="text-center mt-3 mb-2 ">Shikoku</h1>
              
            <a href="/castle/76">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">076 - Tokushima Castle</li>
            </a>
            <a href="/castle/77">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">077 - Takamatsu Castle</li>
            </a>
            <a href="/castle/78">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">078 - Marugame Castle</li>
            </a>
            <a href="/castle/79">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">079 - Imabari Castle</li>
            </a>
            <a href="/castle/80">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">080 - Yuzuki Castle</li>
            </a>
            <a href="/castle/81">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">081 - Matsuyama Castle</li>
            </a>
            <a href="/castle/82">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">082 - Ozu Castle</li>
            </a>
            <a href="/castle/83">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">083 - Uwajima Castle</li>
            </a>
            <a href="/castle/84">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1.2rem">084 - Kochi Castle</li>
            </a>
         
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <img src="/images/maps/japanmap8.png"
                style="width: 100%; height: 100%; max-width: 2000px; max-height: 2000px;" class="rounded  d-block"
                alt="Map of Japan's Castles" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content  " id="nav-tabContent">
      <div class="tab-pane fade  " id="kyushu-content" role="tabpanel" aria-labelledby="kyushu-map">

        <div id="kyushu-border" class="card  border border-white p-3   mx-auto"
          style=" border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; background: #3d4639; color: #ffffff">
          <div class="row    mx-auto "
            style="border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; align-items: center; justify-content:center; width:100%; background: #3d4639; color: #ffffff">
            <div class="row col-md-5 col-md-offset-1">
              <h1 class="text-center mt-3 mb-2 ">Kyushu</h1>
           <div class="col-md-6">
          
            <a href="/castle/85">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">085 - Fukuoka Castle</li>
            </a>
            <a href="/castle/86">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">086 - Ono Castle</li>
            </a>
            <a href="/castle/87">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">087 - Hizen Nagoya Castle</li>
            </a>
            <a href="/castle/88">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">088 - Yoshinogari Site</li>
            </a>
            <a href="/castle/89">
            <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">089 - Saga Castle</li>
            </a>
            <a href="/castle/90">
            <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">090 - Hirado Castle</li>
            </a>
            <a href="/castle/91">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">091 - Shimabara Castle</li>
            </a>
            <a href="/castle/92">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">092 - Kumamoto Castle</li>
               </div><div class="col-md-6">
            </a>
            <a href="/castle/93">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">093 - Hitoyoshi Castle</li>
            </a>
            <a href="/castle/94">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">094 - Funai Castle</li>
            </a>
            <a href="/castle/95">
            <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">095 - Oka Castle</li>
            </a>
            <a href="/castle/96">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">096 - Obi Castle</li>
            </a>
            <a href="/castle/97">
            <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">097 - Kagoshima Castle</li>
            </a>
            <a href="/castle/98">
            <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">098 - Nakijin Castle</li>
            </a>
            <a href="/castle/99">
              <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">099 - Nakagusuku Castle</li>
            </a>
            <a href="/castle/100">
             <li class="btn btn-outline-light text-start mt-3 col-md-12" style="font-size: 1rem">100 - Shuri Castle</li>
            </a>
          
          </div>
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <img src="/images/maps/japanmap9.png"
                style="width: 100%; height: 100%; max-width: 2000px; max-height: 2000px;" class="rounded  d-block"
                alt="Map of Japan's Castles" />
            </div>
          </div>
        </div>
      </div>
    </div>











  </div>








</div>


