<div class="">
        <h3 class="mb-3 text-center ">When you've visited a castle, mark it here.</h3>
        <ul class="nav nav-tabs d-flex justify-content-between text-center bg-light rounded border border-light " style="--bs-bg-opacity: .6;">
            <li class="nav-item col border border-dark rounded">
                <a class="nav-link active " style="color: #000000;" data-bs-toggle="tab" href="#page1">
                     1</a>
            </li>
            <li class="nav-item col border border-dark rounded">
                <a class="nav-link " style="color: #000000;" data-bs-toggle="tab" href="#page2">
                     2</a>
            </li>
            <li class="nav-item col border border-dark rounded">
                <a class="nav-link" style="color: #000000;" data-bs-toggle="tab" href="#page3">
                     3</a>
            </li>
             <li class="nav-item col border border-dark rounded">
                <a class="nav-link" style="color: #000000;" data-bs-toggle="tab" href="#page4">
                     4</a>
            </li>
            <li class="nav-item col border border-dark rounded">
                <a class="nav-link" style="color: #000000;" data-bs-toggle="tab" href="#page5">
                     5</a>
            </li>
            <li class="nav-item col border border-dark rounded">
                <a class="nav-link" style="color: #000000;" data-bs-toggle="tab" href="#page6">
                     6</a>
            </li>
             <li class="nav-item col border border-dark rounded">
                <a class="nav-link" style="color: #000000;" data-bs-toggle="tab" href="#page7">
                     7</a>
            </li>
            <li class="nav-item col border border-dark rounded">
                <a class="nav-link" style="color: #000000;" data-bs-toggle="tab" href="#page8">
                     8</a>
            </li>
            <li class="nav-item col border border-dark rounded">
                <a class="nav-link" style="color: #000000;" data-bs-toggle="tab" href="#page9">
                     9</a>
            </li>
            <li class="nav-item col border border-dark rounded">
                <a class="nav-link" style="color: #000000;" data-bs-toggle="tab" href="#page10">
                     10</a>
            </li>
        </ul>
        <div class="tab-content  ">
            <div class="tab-pane active " id="page1">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                        There
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="page2">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                        should
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="page3">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                        eventually
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="page4">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                        be
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="page5">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                        ten
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="page6">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                        cards
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="page7">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                        per
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="page8">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                        tab
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="page9">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                        for
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="page10">
                <div class="row  g-0 bg-light shadow-sm border border-light  " style="color: #000000;">
                    <div class="col p-4">
                       stamps
                    </div>
                    
                </div>
            </div>
        </div>

    </div>