<div class="book-section">


  <div class="container">
    <div class="right">
      <figure class="back" id="back-cover"> <img src="/images/bookcover.png"
          class="img-thumbnail rounded mx-auto d-block" style="max-width:50%;" alt="100 Castles Offical Stamp Book">
        <h4 style="color:#000000"><br>日本 Castle Journal </h4>
      </figure>

      <figure class="front">
        {{!-- Stamps 97-100 --}}
        <div class="row mt-3" style=" justify-content: center">

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp097.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">097 Kagoshima Castle 鹿児島城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp098.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">098 Nakijin Castle 今帰仁城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp099.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">099 Nakagusuku Castle 中城城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp100.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">100 Shuri Castle 首里城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           


        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{!-- Stamps 91-96 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp091.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">091 Shimabara Castle 島原城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp092.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">092 Kumamoto Castle 熊本城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp093.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">093 Hitoyoshi Castle 人吉城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp094.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">094 Funai Castle 府内城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp095.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">095 Oka Castle 岡城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp096.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">096 Obi Castle 飫肥城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 85-90 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp085.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">085 Fukuoka Castle 福岡城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp086.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">086 Ono Castle 大野城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp087.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">087 Hizen Nagoya Castle 肥前名護屋城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp088.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">088 Yoshinogari Site 吉野ヶ里 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp089.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">089 Saga Castle 佐賀城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp090.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">090 Hirado Castle 平戸城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back ">
        {{!-- Stamps 79-84 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp079.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">079 Imabari Castle 今治城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp080.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">080 Yuzuki Castle 湯築城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp081.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">081 Matsuyama Castle 松山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp082.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">082 Ozu Castle 大洲城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp083.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">083 Uwajima Castle 宇和島城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp084.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">084 Kochi Castle 高知城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front ">
        {{!-- Stamps 73-78 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp073.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">073 Hiroshima Castle 広島城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp074.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">074 Iwakuni Castle 岩国城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp075.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">075 Hagi Castle 萩城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp076.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">076 Tokushima Castle 徳島城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp077.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">077 Takamatsu Castle 高松城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp078.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">078 Marugame Castle 丸亀城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back ">
        {{!-- Stamps 67-72 --}}
        <div class="row mt-3" style=" justify-content: center">

         <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp067.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">067 Tsuyama Castle 津山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp068.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">068 Bitchu Matsuyama Castle 備中松山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp069.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">069 Kinojo Castle 鬼ノ城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp070.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">070 Okayama Castle 岡山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp071.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">071 Fukuyama Castle 福山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp072.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">072 Koriyama Castle 郡山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 61-66 --}}
        <div class="row mt-3" style=" justify-content: center">

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp061.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">061 Takatori Castle 高取城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp062.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">062 Wakayama Castle 和歌山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp063.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">063 Tottori Castle 鳥取城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp064.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">064 Matsue Castle 松江城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp065.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">065 Gassan Toda Castle 月山富田城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp066.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">066 Tsuwano Castle 津和野城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{!-- Stamps 55-60 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp055.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">055 Chihaya Castle 千早城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp056.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">056 Takeda Castle 竹田城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp057.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">057 Sasayama Castle 篠山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp058.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">058 Akashi Castle 明石城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp059.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">059 Himeji Castle 姫路城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp060.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">060 Ako Castle 赤穂城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 49-54 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp049.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">049 Odani Castle 小谷城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp050.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">050 Hikone Castle 彦根城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp051.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">051 Azuchi Castle 安土城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp052.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">052 Kannonji Castle 観音寺城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp053.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">053 Nijo Castle 二条城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp054.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">054 Osaka Castle 大坂城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{!-- Stamps 43-48 --}}
        <div class="row mt-3" style=" justify-content: center">

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp043.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">043 Inuyama Castle 犬山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp044.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">044 Nagoya Castle 名古屋城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp045.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">045 Okazaki Castle 岡崎城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp046.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">046 Nagashino Castle 長篠城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp047.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">047 Iga Ueno Castle 伊賀上野城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp048.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">048 Matsusaka Castle 松阪城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front ">
        {{!-- Stamps 37-42 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp037.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">037 Ichijodani Castle 一乗谷城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp038.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">038 Iwamura Castle 岩村城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp039.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">039 Gifu Castle 岐阜城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp040.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">040 Yamanaka Castle 山中城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp041.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">041 Sunpu Castle 駿府城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp042.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">042 Kakegawa Castle 掛川城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back ">
        {{!-- Stamps 31-36 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp031.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">031 Shibata Castle 新発田城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp032.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">032 Kasugayama Castle 春日山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp033.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">033 Takaoka Castle 高岡城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp034.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">034 Nanao Castle 七尾城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp035.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">035 Kanazawa Castle 金沢城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp036.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">036 Maruoka Castle 丸岡城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front ">
        {{!-- Stamps 25-30 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp025.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">025 Kofu Castle 甲府城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp026.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">026 Matsushiro Castle 松代城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp027.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">027 Ueda Castle 上田城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp028.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">028 Komoro Castle 小諸城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp029.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">029 Matsumoto Castle 松本城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp030.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">030 Takato Castle 高遠城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{!-- Stamps 19-24 --}}
        <div class="row mt-3" style=" justify-content: center">

         <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp019.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">019 Kawagoe Castle 川越城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp020.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">020 Sakura Castle 佐倉城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp021.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">021 Edo Castle 江戸城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp022.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">022 Hachioji Castle 八王子城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp023.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">023 Odawara Castle 小田原城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp024.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">024 Tsutsujigasaki Palace 躑躅ヶ崎館 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 13-18 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp013.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">013 Shirakawa Castle 白河城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp014.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">014 Mito Castle 水戸城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp015.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">015 Ashikagashi Yakata 足利氏館 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp016.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">016 Minowa Castle 箕輪城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp017.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">017 Kanayama Castle 金山城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp018.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">018 Hachigata Castle 鉢形城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back ">
        {{!-- Stamps 7-12 --}}
        <div class="row mt-3" style=" justify-content: center">

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp007.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">007 Taga Castle 多賀城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp008.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">008 Sendai Castle 仙台城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp009.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">009 Kubota Castle 久保田城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp010.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">010 Yamagata Castle 山形城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp011.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">011 Nihonmatsu Castle 二本松城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp012.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">012 Aizuwakamatsu Castle 会津若松城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 1-6 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">001 Nemuro Peninsula Chashi Site 根室半島チャシ跡群 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">002 Goryokaku Fort 五稜郭 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">003 Matsumae Castle 松前城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">004 Hirosaki Castle 弘前城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">005 Ne Castle 根城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">006 Morioka Castle 盛岡城 </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>




        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        <h3 class="text-center p-5" style="color:#000000"><br><br><br>Keep track of stamps here.<br><br>Apply a
          stamp by touching that castle's white square. It will record the date you stamped it.<br><br>If you
          want to reset a date, touch the square again. </h3>
        <h4 style="color:#000000"><br><br>日本百名城</h4>
      </figure>
      <figure class="front" id="cover">
        <img src="/images/bookcovertext.png" style="width:100%" class="rounded mx-auto d-block"
          alt="Map of Japan's Castles" />
        <h1 class="text-center p-3" style="color:#000000">USER's Stamp Book</h1>

        <h3 class="text-center " style="color:#000000">Stamps Collected: 15/100</h3>
      </figure>
    </div>
  </div>
  <div class="" style="display: flex;
    justify-content: space-evenly;
    flex-direction: row;">
  <button class="border-0" style="  background: transparent; color: #ffffff; "
    id="leftbutton" onclick="turnLeft()"><i class=" bi-arrow-left-circle-fill " style="font-size: 5.0rem; "></i></button>
  <button id="rightbutton" class=" border-0 "
    style="  background: transparent; color: #ffffff; " onclick="turnRight()"><i class="bi-arrow-right-circle-fill"
      style="font-size: 5.0rem; "></i></button>
      </div>
</div>

<div class="modal modal-sm modal-dialog-center text-center"  tabindex="-1" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content" style="background-color: #163850;">
    
      <div class="modal-body">
        <h4 style="color:#ffffff">Delete this stamp's history forever?</h4>
      </div>
      <div class="modal-footer " style="justify-content: space-evenly;">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Keep it!</button>
        <button type="button" class="btn btn-danger">Delete it!</button>
      </div>
    </div>
  </div>
</div>

