<div class="book-section">


  <div class="container">
    <div class="right">
      <figure class="back" id="back-cover"> <img src="/images/bookcover.png"
          class="img-thumbnail rounded mx-auto d-block" style="max-width:50%;" alt="100 Castles Offical Stamp Book">
        <h4 style="color:#000000"><br>日本 Castle Journal </h4>
      </figure>

      <figure class="front">
        {{!-- Stamps 97-100 --}}
        <div class="row mt-3" style=" justify-content: center">

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           


        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{!-- Stamps 91-96 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 85-90 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back ">
        {{!-- Stamps 79-84 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front ">
        {{!-- Stamps 73-78 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back ">
        {{!-- Stamps 67-72 --}}
        <div class="row mt-3" style=" justify-content: center">

         <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 61-66 --}}
        <div class="row mt-3" style=" justify-content: center">

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{!-- Stamps 55-60 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 49-54 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{!-- Stamps 43-48 --}}
        <div class="row mt-3" style=" justify-content: center">

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front ">
        {{!-- Stamps 37-42 --}}
        <div class="row mt-3" style=" justify-content: center">

            <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back ">
        {{!-- Stamps 31-36 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front ">
        {{!-- Stamps 25-30 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        {{!-- Stamps 19-24 --}}
        <div class="row mt-3" style=" justify-content: center">

         <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 13-18 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back ">
        {{!-- Stamps 7-12 --}}
        <div class="row mt-3" style=" justify-content: center">

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

        </div>
      </figure>


      <figure class="front">
        {{!-- Stamps 1-6 --}}
        <div class="row mt-3" style=" justify-content: center">

          <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp001.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp002.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

           <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp003.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp004.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>

             <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp005.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>
          
              <div class="card   mb-3" style="max-width: 12.5rem; ">
            <div class="stamp-box animationend card-text border border-dark" style="min-height: 160px;">
              <img  class="hidden" src="images/stamps/stamp006.png" />
            </div>
            <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
            <div class="card-body text-dark">
              <h6 class="card-title">Date Stamped</h6>
            </div>
          </div>




        </div>
      </figure>
    </div>
    <div class="right">
      <figure class="back">
        <h3 class="text-center p-5" style="color:#000000"><br><br><br>Keep track of stamps here.<br><br>Apply a
          stamp by touching that castle's white square. It will record the date you stamped it.<br><br>If you
          want to reset a date, touch the square again. </h3>
        <h4 style="color:#000000"><br><br>日本百名城</h4>
      </figure>
      <figure class="front" id="cover">
        <img src="/images/bookcovertext.png" style="width:100%" class="rounded mx-auto d-block"
          alt="Map of Japan's Castles" />
        <h1 class="text-center p-3" style="color:#000000">USER's Stamp Book</h1>

        <h3 class="text-center " style="color:#000000">Stamps Collected: 15/100</h3>
      </figure>
    </div>
  </div>
  <div class="" style="display: flex;
    justify-content: space-evenly;
    flex-direction: row;">
  <button class="border-0" style="  background: transparent; color: #ffffff; "
    id="leftbutton" onclick="turnLeft()"><i class=" bi-arrow-left-circle-fill " style="font-size: 5.0rem; "></i></button>
  <button id="rightbutton" class=" border-0 "
    style="  background: transparent; color: #ffffff; " onclick="turnRight()"><i class="bi-arrow-right-circle-fill"
      style="font-size: 5.0rem; "></i></button>
      </div>
</div>

<div class="modal modal-sm modal-dialog-center text-center"  tabindex="-1" id="delete-modal">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content" style="background-color: #163850;">
    
      <div class="modal-body">
        <h4 style="color:#ffffff">Delete this stamp's history forever?</h4>
      </div>
      <div class="modal-footer " style="justify-content: space-evenly;">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Keep it!</button>
        <button type="button" class="btn btn-danger">Delete it!</button>
      </div>
    </div>
  </div>
</div>

