<div class="book-section">


    <div class="container">
        <div class="right">
            <figure class="back" id="back-cover"> <img src="/images/bookcover.png"
                    class="img-thumbnail rounded mx-auto d-block" style="max-width:50%;"
                    alt="100 Castles Offical Stamp Book">
                <h4 style="color:#000000"><br>日本 Castle Journal </h4>
            </figure>

            <figure class="front">
                {{!-- Stamps 97-100 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark mx-auto mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.etsy.com"><img src="images/stamps/stamp097.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                    <div class="card border-dark mx-auto mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    </div>
                    <div class="row mt-3" style=" justify-content: center">
                    <div class="card border-dark mx-auto mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark mx-auto mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>


                </div>
            </figure>
        </div>
        <div class="right">
            <figure class="back">
                {{!-- Stamps 91-96 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.microsoft.com"><img src="images/stamps/stamp091.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>


            <figure class="front">
                {{!-- Stamps 85-90 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.linkedin.com"><img src="images/stamps/stamp085.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>
        </div>
        <div class="right">
            <figure class="back ">
                {{!-- Stamps 79-84 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.live.com"><img src="images/stamps/stamp079.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>


            <figure class="front ">
                {{!-- Stamps 73-78 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.apple.com"><img src="images/stamps/stamp073.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>
        </div>
        <div class="right">
            <figure class="back ">
                {{!-- Stamps 67-72 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.fandom.com"><img src="images/stamps/stamp067.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>


            <figure class="front">
                {{!-- Stamps 61-66 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.pinterest.com"><img src="images/stamps/stamp061.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>
        </div>
        <div class="right">
            <figure class="back">
                {{!-- Stamps 55-60 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.amazon.com"><img src="images/stamps/stamp055.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>


            <figure class="front">
                {{!-- Stamps 49-54 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.imdb.com"><img src="images/stamps/stamp049.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>
        </div>
        <div class="right">
            <figure class="back">
                {{!-- Stamps 43-48 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.instagram.com"><img src="images/stamps/stamp043.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>


            <figure class="front ">
                {{!-- Stamps 37-42 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="www.wikipedia.org"><img src="images/stamps/stamp037.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>
        </div>
        <div class="right">
            <figure class="back ">
                {{!-- Stamps 31-36 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.youtube.com"><img src="images/stamps/stamp031.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>


            <figure class="front ">
                {{!-- Stamps 25-30 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.github.com"><img src="images/stamps/stamp025.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>
        </div>
        <div class="right">
            <figure class="back">
                {{!-- Stamps 19-24 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.twitter.com"><img src="images/stamps/stamp019.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>


            <figure class="front">
                {{!-- Stamps 13-18 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.reddit.com"><img src="images/stamps/stamp013.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>
        </div>
        <div class="right">
            <figure class="back ">
                {{!-- Stamps 7-12 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.facebook.com"><img src="images/stamps/stamp007.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">007 Taga Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                         <a href="https://www.facebook.com"><img src="images/stamps/stamp008.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>


            <figure class="front">
                {{!-- Stamps 1-6 --}}
                <div class="row mt-3" style=" justify-content: center">

                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <a href="https://www.google.com"><img src="images/stamps/stamp001.png" /></a>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle </div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>
                    <div class="card border-dark  mb-3" style="max-width: 12.5rem; ">
                        <img class="card-text"></img>
                        <div class="card-header bg-light " style="color: #000000;">000 Castle</div>
                        <div class="card-body text-dark">
                            <h6 class="card-title">Date Stamped</h6>
                        </div>
                    </div>

                </div>
            </figure>
        </div>
        <div class="right">
            <figure class="back">
                <h3 class="text-center p-5" style="color:#000000"><br><br>Keep track of stamps here.<br><br>Apply a
                    stamp by touching that castle's white square. It will record the date you stamped it.<br><br>If you
                    want to reset a date, touch the square again. This cannot be undone, so be careful!</h3>
                <h4 style="color:#000000"><br>日本百名城</h4>
            </figure>
            <figure class="front" id="cover">
                <img src="/images/bookcovertext.png" style="width:100%" class="rounded mx-auto d-block"
                    alt="Map of Japan's Castles" />
                <h1 class="text-center p-3" style="color:#000000">USER's Stamp Book</h1>

                <h3 class="text-center " style="color:#000000">Stamps Collected: 15/100</h3>
            </figure>
        </div>
    </div>
    <button class="btn btn-outline-light col-lg-1 mb-3" id="leftbutton" onclick="turnLeft()">Prev</button> <button
        id="rightbutton" class="btn btn-outline-light col-lg-1 mb-3 " onclick="turnRight()">Next</button>
</div>

<script src="/js/bookflip.js"></script>